<div *ngIf="question">
    <div>
        <div>
            <div>
                <h3 [innerHTML]="question.title"> </h3>
                <div>
                    <ss-taglist [tags]="question.tags"></ss-taglist>
                    <span>
                        viewed {{question.view_count}} times
                    </span>
                </div>
            </div>
            <h4 *ngIf="question.hasObsoleteAnswer">
                <span *ngIf="question.isAcceptedAnswerObsolete"
                      class="badge badge-danger">
                    The accepted answer is obsolete
                </span>
                <span *ngIf="!question.isAcceptedAnswerObsolete"
                      class="badge badge-warning">
                    There are obsolete answers in this question
                </span>
            </h4>
        </div>
        <hr>
        <ss-post-detail [post]="question"></ss-post-detail>
    </div>
    <hr>
    <div>
        <h2>{{question.answers.length}} Answer<span *ngIf="question.answers.length!==1">s</span>
            &nbsp;<ss-answer-link [question]="question"></ss-answer-link>
        </h2>
        <hr>
        <div *ngFor="let answer of question.answers">
            <ss-post-detail [post]="answer"
                            [isAccepted]="answer.is_accepted"
                            [isObsolete]="answer.isObsolete"></ss-post-detail>
            <hr>
        </div>
    </div>
</div>