<div class="list-group">
    <div *ngFor="let question of questionList"
         class="list-group-item">
        <a [routerLink]="question.question_id"
           [innerHTML]="question.title"></a>
        <div>
            <span class="small">Asked by {{question.owner.display_name}} on
                {{question.creation_date | date:'medium'}}</span>
            <span class="mx-1">|</span>
            <span>Score <span class="badge badge-success">{{question.score}}</span></span>
            <span class="mx-1">|</span>
            <span>Answers <span class="badge badge-success">{{question.answer_count}}</span></span>
            <span *ngIf="!question.is_answered">
                <span class="mx-1">|</span>
                <span class="badge badge-warning">No accepted answers</span>
            </span>
            <span class="float-right">
                <span *ngFor="let tag of question.tags"
                      class="badge badge-info mr-1"
                      [innerHTML]="tag"></span>
            </span>
        </div>
    </div>
</div>